<form class="card">
  <div class="card-header">REGISTRO DE TICKETS</div>
  <div class="row">
    <div class="mb-3">
      <label for="dni" class="form-label col-sm-12 col-md-4">DNI: </label>
      <input type="number" class="form-control col-sm-12 col-md-8" id="dni" placeholder="11.111.111" name="dni"  [(ngModel)]="ticket.dni"> 
    </div>
    <div class="mb-3">
      <label for="idPrecioReal" class="form-label col-sm-12 col-md-4">Precio: </label>
      <input type="text" class="form-control col-sm-12 col-md-8" id="idPrecioReal" placeholder="$ 0.00" [(ngModel)]="ticket.precioReal">
    </div>
    <div class="mb-3">
      <label class="form-check-label col-sm-12 col-md-4" for="idTipoEspectador">Tipo de espectador</label>
      <select class="form-select" name="tipoEspectador" id="idTipoEspectador" [(ngModel)]="ticket.tipoEspectador">
      <option>Seleccione</option>
      <option value="L">Local</option>
      <option value="E">Extranjero</option>
    </select>
    </div>
    <div class="mb-3">
        <label for="idFechaCobro" class="form-label col-sm-12 col-md-4">Fecha: </label>
        <input type="date" class="form-control col-sm-12 col-md-8" name="fechaCobro" [(ngModel)]="ticket.fechaCobro" id="idFechaCobro" max="today">
    </div>
    <div class="mb-3" *ngIf="ticket.precioReal !=0 && ticket.tipoEspectador!=' '">
        <label for="idPrecioCobrado" class="form-label col-sm-12 col-md-4" >Total a pagar: $ {{ticket.precioCobrado}}</label>
    </div>
  </div>
    <button type="button" class="btn btn-primary" (click)="enviarTicket()">Registrar</button>
  </form>